* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}
h1 {
    border-bottom: 2px solid #444;
    padding-bottom: 9px;
}
#body-wrapper {
    margin: 0 auto;
}
.content-wrapper {
    max-width: 760px;
    margin: 0 auto;
    width: 90%;
}
.blog-main {
    padding-bottom: 130px;
}
.blog-main-child > h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #3c3c3c;
    text-transform: capitalize;
    font-style: italic;
    margin-top: 10px 0;
}
#branding {
    background: #9f9fef;
    border-bottom: 5px solid #4c4c4c;
    padding: 10px 0;
}
#branding p {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.left-sidebar p {
    text-align: center;
}
.row {
    margin: 0;
}
#footer {
    background: #3c3c3c;
    color: #bbb;
    bottom: 0;
    width: 100%;
    padding: 11px 0 5px 0;
    text-align: center;
}
img {
    max-width: 60%;
    height: auto;
}
@media (min-width: 768px) {
    .blog-main {
    }
}
